.title {
    color: #fff;
    font-size: 35px;
    padding-top: 20px;
}

.subtitle {
    color: #fff;
    font-size: 18px;
    padding-bottom: 10px;
}

.list {
    padding-left: 20px;
    color: #fff;
    font-size: 15px;
}
